table{
padding: 5px;
border: none;
border-radius: 25px;
color: darksalmon;
background-color: darkred;
}
td input[type="button"]{
    width: 100%;
    height: 50px;
    border: darkmagenta;
    background-color: rgb(255, 251, 11);
    color: rgb(8, 10, 6);
    border-radius: 25px;
}
td input[type="text"]{
   background-color: purple;
   border-radius: 40px;
   width: 250px;
    height: 50px;
}
.calculadora{
    display: block;
    margin:0 auto;
    padding: 40px;
    background-color: rgb(158, 96, 3);
    width: 500px;
    height: 500px;
    border-radius: 30px;
    }
    #resultado{
        display: block;
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
        width: 300px;
        height: 100px;
        line-height: 100px;
        background-color: rgb(144, 156, 158);
        border-radius: 25px;
        overflow: scroll;
    }
form{
   
    background-color: purple;
    border-radius: 20px;
}
.Calculadora{
    color: rgb(39, 18, 97);
    font-family:rockwell extra bold;
    display: block;
    margin:0 auto;
    padding: 30px;
    background-color: yellow;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    position:left;
    left: 0px;

}
/*div{
    background-color: purple;
    color: rgb(39, 18, 97);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin:0 auto;
    padding: 40px;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    position:left;
    left: 0px;
}*/


 td button{
    background-color: black;
    border: 2px solid#e3f11e;
        color: rgb(23, 146, 184);
        padding: 5px 5px;
        text-align: center;
        font-weight: 600;
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        width: 70px;
        height: 70px;
        margin:0 auto;
        position:left;
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        
      
}
.text{
    color: purple;
    font-size: 45px;
    width: 500px;
    height: 100px;
    left: 0px;
}